.pc-home-wrapper
  width 100vw
  height 100vh
  overflow-x hidden
  background #333
.pc-header
  margin 0 auto
  height 48px
  line-height 48px
  overflow-y hidden
  display flex
  color $color-text-white
  background #666
.pc-nav
  flex 1
.pc-brand
  height inherit
  img
    margin-right 1.5rem
    padding 5px
    height calc(100% - 10px)
.pc-search
  position relative
  width 9.4rem
  input
    padding .2rem
    width 8rem
    margin-right 1rem
    background none
    border-bottom 1px solid #eee
    color #fff
  .hint
    position absolute
    right 1.2rem
    bottom 0
    color #eee
  .mdi
    color #aaa

@media only screen and (min-width:1600px)
  .pc-heder
    width 1400px
@media only screen and (min-width:1440px) and (max-width: 1599px)
  .pc-heder
    width 1200px
