.pc-home-wrapper
  width 100vw
  // background linear-gradient(to right, #666 50%, $color-bg 50%)
.pc-home
  width 1000px
  margin 0 auto
  display flex
  min-height 100vh
  color $color-text-white
  background #666
.pc-aside
  width 10rem
.pc-content
  flex 1
  padding-right 10rem
.pc-panels-wrapper
  position relative
.pc-panels
  position absolute
  right 0
  top 0
