.home-wrapper
  width 100vw
  background linear-gradient(to right, #666 50%, $color-bg 50%)
.home
  width 1000px
  margin 0 auto
  display flex
  min-height 100vh
  color $color-text-white
  background #666
.content
  flex 1
