.category-editor
  position fixed
  z-index 100
  width calc(100% - 15rem)
  min-height 100vh
  left 15rem
  top 0
  background $color-bg
  overflow-y auto
  // box-shadow: 1px 3px 5px rgba(0, 0, 0, .2)
.title
  display flex
  height 2rem
  background #666
  color #fff
  .txt
    flex 1
    padding-left 15px
  .mdi
    width 2rem
    text-align center
    background #aaa
    cursor pointer

.table
  width 100%
  ul
    display flex
    padding 0 10px
  li
    text-align left
    border-bottom 1px solid #ccc
  .order
    width 3rem
    flex-width 3rem
  .type
    width 15rem
    flex-width 15rem
    text-align center
    label
      margin 0 .5rem
    input
      margin-left .3rem
  .icon
    flex 1
  .category
    flex 1
  .name
    flex 1
  .operator
    flex 1

.header
  display flex
  li
    height 2rem
    font-weight 700
.content li
  height 3rem
  padding 3px 0
  line-height 3rem
.mdi
  margin 0 8px
  cursor pointer
.iconimg
  height 3rem
