.category-editor
  position absolute
  z-index 100
  width calc(100% - 15rem)
  min-height 100vh
  left 15rem
  top 0
  background $color-bg
  // box-shadow: 1px 3px 5px rgba(0, 0, 0, .2)
.title
  display flex
  height 2rem
  background #666
  color #fff
  .txt
    flex 1
    padding-left 15px
  .mdi
    width 2rem
    text-align center
    background #aaa

.table
  width 100%
  th, td
    text-align left
    padding 0 5px
    border-bottom 1px solid #ccc
  td
    padding 0 5px
  .mdi
    margin 0 8px
    cursor pointer
.operator
  width 9rem
