.category-editor
  position absolute
  z-index 100
  width calc(100% - 15rem)
  min-height 100vh
  left 15rem
  top 0
  background $color-bg
  // box-shadow: 1px 3px 5px rgba(0, 0, 0, .2)
.title
  display flex
  height 2rem
  background #666
  color #fff
  .txt
    flex 1
    padding-left 15px
  .mdi
    width 2rem
    text-align center
    background #aaa

.table
  width 100%
  ul
    display flex
    padding 0 10px
  li
    flex 1
    text-align left
    border-bottom 1px solid #ccc
  .header li
    height 2rem
  .content li
    height 3rem
    padding 3px 0
    line-height 3rem
  .mdi
    margin 0 8px
    cursor pointer
.iconimg
  height 3rem
