.inscribe
  height 10rem
  background #333
.contact
  padding 0 15px
.wrapper
  padding 2rem 0
  display flex
.text
  color #aaa
  font-size .58rem
  line-height 1.2rem
.title
  color #fff
  font-size .9rem
  line-height 2rem
.ch-zn
  color #aaa
  font-size .5rem
.line
  width 7.5rem
  margin-bottom .2rem
  height: 2px
  background-color: red

.qrcode
  margin-right 2rem
  flex 1
  text-align right 
  .text
    text-align right
  img
    margin-left 10px
    width 4rem

.copyright
  padding .8rem 0
  background #000
  text-align center
  font-size .8rem
  .text
    color #888
