.settings
  position fixed
  z-index 1000
  width calc(100% - 15rem)
  min-height 100vh
  left 15rem
  top 0
  background $color-bg
  overflow-y auto
.title
  display flex
  height 2rem
  line-height 2rem
  background #666
  color #fff
  .txt
    flex 1
    padding-left 15px
  .mdi
    width 2rem
    text-align center
    background #aaa
    cursor pointer
.content
  padding 10px 15px
  img
    width 7rem

