.settings
  position fixed
  z-index 1000
  width calc(100% - 15rem)
  min-height 100vh
  left 15rem
  top 0
  background $color-bg
  overflow-y auto
.title
  display flex
  height 2rem
  line-height 2rem
  background #666
  color #fff
  .txt
    flex 1
    padding-left 15px
  .mdi
    width 2rem
    text-align center
    background #aaa
    cursor pointer
.content
  margin-top 2.5rem
  padding 10px 15px
  display flex
  .site-logo
    padding-top .5rem
    margin-right 1rem
  .site-input
    text-align center
    padding-right .5rem
    padding-top .5rem
  .site-operate
    padding-top .5rem
    cursor pointer
    width 6rem
    text-align center
.input
  background none
  border-bottom 1px solid #ccc
.site-name
  margin 1rem .3rem
  width 6rem
  padding 5px
  text-align center
  border none
.submit
  padding 5px 3.5rem
  color #fff
  background #3af
  border-radius 5px

.item
  display flex
  margin .5rem 0
  .label
    line-height 2rem
    width 15rem
    margin-right .5rem
  .input
    padding 0 .2rem
    flex 1

