.dialog-wrapper
  position fixed
  z-index 10000
  width 100vw
  height 100vh
  left 0
  top 0
  overflow hidden
  background $color-mask
.dialog
  margin 8rem auto 0 auto
  color $color-text
  width 22rem
  background $color-bg
  border-radius 8px
.title
  padding .8rem 1rem
.content
  padding 1rem 1.5rem
.footer
  padding .5rem
  display flex
  .btn
    flex 1
    padding .5rem
    cursor pointer
  .cancel
    background $color-btn-warn
  .submit-disable
    background $color-btn-disable
  .submit-active
    background $color-btn-active
  input
    border-radius 5px
    width 100%
    padding .5rem
    color $color-text-white
