.dialog-wrapper
  position fixed
  z-index 10000
  width 100vw
  height 100vh
  left 0
  top 0
  overflow hidden
  background $color-mask
.dialog
  margin 8rem auto 0 auto
  color $color-text
  width 20rem
  background $color-bg
.title
.content
.footer
  padding .5rem
.footer
  display flex
  .btn
    flex 1
    padding .5rem
  .cancel
    background $color-btn-warn
  .submit
    background $color-btn-active
  input
    width 100%
    padding .5rem
    color $color-text-white
