.video-preview
  position relative
  .play
    transform translateX(-50%)
    position absolute
    line-height: 3rem;
    top 0
    left 50%
  .mdi
    text-align center
    color rgba(255, 255, 255, .5)

.preview
.mdi-upload
  width 4.5rem
  cursor pointer
video
img
  height: 3rem
.file-preview
  width 4rem
  height: 3rem
  line-height 3rem
  text-align center
  color #ccc
  background #eee
  // border 1px solid #eee
