.cover
  position relative
  background red
  border-radius 5px 5px 0 0
  overflow hidden
  .title
    position absolute
    bottom 0
    padding .5rem 1rem
    color #fff
    margin-top -3rem
.links
  padding .25rem 1rem .75rem 1rem
  background #fff
  border-radius 0 0 5px 5px
.link
  display flex
  margin .25rem 0
  &:last-child
    .bd-1px-b
      display none
  .title
    flex 1
    padding-top .3rem
    margin-right 1.5rem
    &:after
      border-color #eee
  .text
    height 3rem
    display: -webkit-box;
    justify-content center
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //需要控制的文本行数
    overflow: hidden
  .bd-1px-b
    margin-top 1rem
  .img-wrap
    margin-top .5rem
    width 3.5rem

