.card
  padding-bottom 5px
  border-bottom 2px solid #aaa
  background #fff
  position relative
  &:hover
    cursor pointer
    .btn
      display block

.btn
  position absolute
  display none
  top 0
  right 0
  background red
  color #fff
  width 2rem
  height 2rem
  line-height 2rem
  text-align center
.title
  margin 5px 10px 25px 10px
  line-height 1.2rem
  font-weight 500
.foot
  display flex
  margin 10px
  font-size .7rem
  color #888
  .time
    width 10rem
    flex-width 10rem
  .category
    flex 1
    text-align right

