.title
  display flex
  margin 1rem 0
  background #ddd
  padding-left .5rem
.text
  flex 1

.list
  display flex
  margin-bottom -.5rem
.item
  margin-right 1rem

.input-wrapper
  flex 1
.input
  display flex
input
  color #666
  line-height 1.5rem
  background none
.url
  width 100%
  margin-right 1rem
  border-bottom 1px solid #ccc
textarea
  width 100%
  resize none
  height 2.4rem
  line-height 1.2rem
  font-size 1rem
  color #888
  background none
  border 1px solid #ccc
  border none
  border-bottom 1px solid #ccc

.operator
  margin-left .5rem
  width 5rem
  text-align right
  .order
    width 4.5rem
    input
      width 2.5rem
      color #666


.mdi
  width 1.5rem
  height 1.5rem
  line-height 1.5rem
  text-align center
  border-radius 50%
  color #fff
  cursor pointer
.mdi-close
  margin .5rem 0 0 1.5rem
  background red
.mdi-plus
  width 2rem
  border-radius 0
  background #aaa
