.head-padding
  height 3rem
.head
  position fixed
  z-index 1000
  width 100%
  line-height 3rem
  color #fff
  background $color-theme

.bar
  display flex
  .brand
    flex 1
    padding-left 20px
  .icon
    flex 1
    padding-right 20px
    text-align right
    font-size 1.5rem

.menu
  position absolute
  width calc(100% - 20px)
  padding 0 10px
  background inherit
  li
    display flex
    flex-direction row-reverse
    .hint-color
      width inherit
      height 2px
      background-color red
  input
    width 100%
    text-align left
  .search
    display block
    position relative
    input
      margin-bottom 15px
      padding 5px 0
      color #fff
      background none
      border-bottom 1px solid #fff
    .hint
      vertical-align b
      position absolute
      right 0
      top 0
