.head-padding
  height 2.9rem
.head
  position fixed
  z-index 1000
  width 100%
  line-height 2.9rem
  color #fff
  background $color-theme
.bar
  padding-left 20px
  display flex
.brand
  flex 1
.icon
  width 50px
  text-align center
  font-size 1.5rem

.menu
  position absolute
  width calc(100% - 20px)
  padding 0 10px
  background inherit
  li
    text-align right
  input
    width 100%
    text-align left
  .search
    position relative
    input
      padding 5px 0
      color #fff
      background none
      border-bottom 1px solid #fff
    .hint
      position absolute
      right 0
      top 0
