.tab-menu,
.tab-content
  display flex
  &>li
    flex 1
.tab-title
  width 100%
  position fixed
  background #eee
.tab-menu
  &>li
    margin .6rem 0
    font-size .8rem
    line-height .8rem
    text-align center
    border-right 1px solid #ccc
.tab-padding
  height 2.1rem
.tab-content
  transition 0.5s
  .tab-page
    width 100%
    // min-height 80vh
.tab-color
  height 2px
  background gray
  transition 0.5s
.tab-content-wrap
  width 100%
  overflow hidden
.card-wrapper
  margin 15px
