.aw-video
  position relative
  width 100%
.aw-article
  padding 15px
.aw-title
  font-size 1.2rem
  font-weight 700
.aw-category
  font-size .5rem
  color #888
.aw-desc
  text-indent 2em
  font-size 1rem
  color #888
  line-height 2rem
.aw-content
  width 100%
  p
    padding 0 15px
  img
    margin-left -15px
    padding 0
    width calc(100% + 30px)
.aw-video
  width 100%
  video
    width 100%
