.category
  line-height 2rem
  .first
    .text
      padding 0 10px
      font-weight 700
.first,
.second
  cursor pointer
  display flex
  &:hover
    .btn
      display block

.text,
.new-category
  flex 1
.new-category
  display block
  width 100%
  padding .4rem 10px
.btn
  display none
  margin 5px 10px 5px 0
  width 25px
  line-height 1.2rem
  text-align center
  font-weight normal
  // border 1px solid #ccc
  border-radius 5px
  cursor pointer
.subcategory
  background #ddd
  padding-left 10px;
.control
  margin-top 10px
  background: #ddd;
  padding 10px
.select
  margin: 1rem 0 .5rem 0;
  padding .2rem 5px
  width: 100%;
.add-category
  padding .2rem 2%
  display inlineblock
  width: 81%;
.add-btn
  padding .2rem 0
  width: 15%;
  background: #ccc;
