.inscribe
  padding 0 15px
  background-color $color-theme
.wrapper
  padding 2rem 0
  display flex
.text
  color #eee
  font-size .58rem
  line-height 1.1rem
.ch-zn
  color #eee
  font-size .5rem
.line
  margin .4rem 0 .1rem 0
  height: 2px
  background-color: red

.copyright
  width 12rem
.qrcode
  flex 1
  text-align right 
  .text
    text-align right
  img
    width 2.8rem
