.admin-banner
  position fixed
  top 0
  z-index 1000
  width calc(100% - 15rem)
  display flex
  background #666
  color #fff
.crumb
.add
  line-height 2rem
.crumb
  padding-left 15px
  flex 1
.add
  width 2rem
  font-size 1.6rem
  text-align center
  background #3af
  cursor pointer
