.inscribe
  padding 0 15px
.wrapper
  padding 2rem 0
  display flex
.text
  font-size .6rem
.line
  margin .4rem 0
  height: 2px
  background-color: red

.copyright
  width 12rem
.qrcode
  flex 1
  text-align right 
  .text
    text-align right
  img
    width 2.8rem
