.nav-wrapper
  display flex
.nav
  flex 1
  display flex
  min-height 100vh
  text-align center
  &:nth-of-type(odd)
    background $color-bg
    .item .trangle
      border-left: 10px solid #333
    .text p
      color #333

.item
  display flex
  width 3rem
  cursor pointer
  height 100vh
  transition 0.3s
  &:active
    .text p
      color red
  &:hover
    width 3.5rem
  .trangle
    margin auto 0
    width: 0
    height: 0
    border-top: 10px solid transparent
    border-left: 10px solid $color-bg
    border-bottom: 10px solid transparent
  .text
    margin auto 0
    text-align center
    width 1.3rem
    p
      writing-mode vertical-rl
      writing-mode tb-rl
  .mark
    margin auto 0
    width .5rem
    span
      display inline-block
      width .1rem
      height 20px
      background red
