$aside-width = 15rem
.home
  min-height 100vh
  background rgb(245, 246, 247)
  display flex
.aside
  position fixed
  z-index 10000
  width $aside-width
  min-height 100vh
  background #eee
.container
  margin-left $aside-width
  width 100%
  // background #333
  flex 1
  .nav
    position fixed
    display flex
    z-index 1000

    width calc(100% - 15rem)
    height 2rem
    line-height 2rem
    background #666
    color #fff
  .crumb
    padding-left 15px
    flex 1
  .add
    width 2rem
    font-size 1.6rem
    text-align center
    cursor pointer
  .add-publish
    background #aaa
  .add-updates
    background #00f
  .nav-gap
    margin-bottom 2rem
.card-wrapper
  margin 16px 0 0 10px
  display inline-block
  width 18rem
