$aside-width = 15rem
$bg = rgb(245, 246, 247)

#home
  min-height 100vh
  background $bg
  display flex

.aside
  position fixed
  z-index 10000
  width $aside-width
  min-height 100vh
  background #eee
.menu
  display flex
  padding-left 10px
  padding-right 5px
  height 2rem
  line-height 2rem
  color $bg
  background gray
  .brand
    flex 1
    span
      font-weight 700
  .mdi
    width 2rem
    text-align center
    cursor pointer

.container
  margin-left $aside-width
  width 100%
  flex 1
  .admin-banner
    position fixed
    top 0
    z-index 1000
    width calc(100% - 15rem)
    display flex
    background #666
    color #fff
  .crumb
  .add
    line-height 2rem
  .crumb
    padding-left 15px
    flex 1
  .add
    width 2rem
    font-size 1.6rem
    text-align center
    background #3af
    cursor pointer
.card-wrapper
  margin 3rem 0 0 15px
  display inline-block
  width 18rem
.blank-page
  margin 2.5rem 0 0 15px
