.home
  display flex
.aside
  width 15rem
  min-height 100vh
  background #eee
.container
  // background #333
  flex 1
  .nav
    // position fixed
    width calc(100% - 20px)
    background #666
    color #fff
    padding 4px 10px
    display flex
  .crumb
    flex 1
  .add
    cursor pointer
    flex-width 30px
    background #eee
    padding 0 10px
    border-radius 5px
