.category-card
  position relative
.img
  width 100%
  height 0
  padding-bottom 68%
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  cursor pointer
.title
  position absolute
  left 1rem
  bottom 2rem
  color #fff
  text-shadow 0 0 5px rgba(0, 0, 0, .5)
  .name
  .category
    display inline-block
  .name
    margin-right .5rem
    font-size 1.5rem
  .category
    font-size 1rem

