.admin-header
  position fixed
  top 0
  z-index 1000
  height 2rem
  width calc(100% - 15rem)
  display flex
  background #666
  color #fff
.title
  padding-left 15px
  line-height 2rem
  flex 1
.btn-wrapper
  display flex
  line-height 2rem
.btn
  text-align center
  display flex
  :active
    background #3af
.mdi
  width 2rem
  font-size 1.2rem
  cursor pointer
  border-left 1px solid gray
.mdi-close
  background rgba(255, 255, 255, .3)
