@import "./1px.styl"
.pubfooter
  position fixed
  display flex
  width 100%
  height 50px
  bottom 0
  background #fff
.footer
  position fixed
  display flex
  width 100%
  height 45px
  bottom 0
  background #fff
  .btn
    flex 1
    line-height 45px
    text-align center
    color #555

.topic-search
  position: fixed
  width: 100%
  top: 0
  left: 0
  background #eee;
  .search-input
    font-size .9rem
    line-height 1.3rem
    width: 90%;
    padding 5px 2%
    margin 8px 3%
    border-radius: 5px
    &::placeholder
      color #ccc
  .btn
    position: absolute
    right: 0;
    top: 0;
    width: 35px
    padding-left: 5px
    line-height: 45px
    font-size: 1.2rem

// 不换行
.no-wrap
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 扩展点击区域
$extend-width = -10px
.ex-click
  position: relative
  &:before
    content: ''
    position: absolute
    top: $extend-width
    left: $extend-width
    right: $extend-width
    bottom: $extend-width

// 富文本编辑器样式
textarea
  font-size 1rem
.a-left
  text-align left
.a-center
  text-align center
.a-right
  text-align right

.b-bold
  font-weight bold
.i-italic
  font-style italic
.u-underline
  text-decoration underline

.s-normal
  font-size 1rem
  line-height 1.2rem
.s-big
  font-size 1.1rem
  line-height 1.5rem

.cb-black
  background-color black
.cb-gray
  background-color gray
.cb-red
  background-color red
.cb-orange
  background-color orange
.cb-yellow
  background-color yellow
.cb-green
  background-color green
.cb-cyan
  background-color darkcyan
.cb-blue
  background-color blue
.cb-purple
  background-color purple

.c-black
  color black
.c-gray
  color gray
.c-red
  color red
.c-orange
  color orange
.c-yellow
  color yellow
.c-green
  color green
.c-cyan
  color darkcyan
.c-blue
  color blue
.c-purple
  color purple
